@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");

.body {
  font-family: "Dosis", sans-serif;
 background-color: #ccf0e1;
}
 .justify-content-end {
  /* margin: 20px 60px; */
  padding: 2em ;
  border-bottom: .3em ;
   background-color: #ccf0e1;

}

.footer {
  height: 100px ;
  background-color: #ccf0e1;
  width: 100%;
  /* display: inline-block; */
}

.social-links{
  margin: 2% auto 0 40%;
  font-size: 1.2em;
}
@media (max-width: 425px){
  .social-links{
    margin-left: 5.5em;
  }
}


.name-header {
  text-align: center;  
  margin: 1% 0 auto 35%; 
  font-family: "Sacramento", cursive;
  font-size: 6rem;
  display: inline-block;
  color: #18b0b0;
}

@media (max-width: 425px){
  .name-header{
    font-size: 3.5rem;
    margin-left: 20%;
  }
}
 @media (max-width: 763px){
  .name-header{
    margin: auto auto auto 1.8em;
  }
} 

.title {
  text-align: center;
  font-family: "Dosis", sans-serif;
  display: inline-block;
  margin: 2% 5% 2% 42%;
  color: #18b0b0;

}

@media (max-width: 425px){
  .title{
    font-size: 1.6rem;
    margin-left: 27%;
  }
}

.con1-pic {
  display: block;
  margin: 0 auto 0 auto;
  width: 50em;
}
@media (max-width: 806px) {
  .con1-pic {
    width: 90%;
  }
}

.container_2 {
  height: 500px;
  background-color: #ffffff;
  text-align: center;
}


.div-header {
  margin: 1em auto 0 auto;
  display: inline-block;
  font-size: 4em;
    color: #18b0b0;
}
@media (max-width: 425px){
  .div-header{
    margin: 0px;
  }
}

.hi-image {
  border-radius: 50%;
  width: 11%;
  height: 25%;
  margin-top: 5%;
}

@media(max-width: 425px){
  .hi-image{
    width: 23%;
  }
}

.con2-para {
  text-align: center;
  font-size: 1.3em;
}

.con2-hi {
  margin: 30px auto 30px auto;
      color: #18b0b0;

}

.container_3 {
  height: 75em;
  background-color: #ffffff;
  text-align: center;
  padding: 20px;
  position: relative;
}
@media (max-height:592px){
 .container_3{
   height: 1300px;
 } 
}

.can-pic {
  margin-top: 8em;
  width: 33%;
  height: 55%;
  float: left;
  position: relative;
}
@media(max-width: 425px){
  .can-pic{
    margin-top: 60%;
    margin-left: 5%;
    position: absolute;
    width: 60%;
    height: 30%;
  }
}

.build-h2 {
  padding: 1.9em 0 2em 0;
  display: inline-block;
  position: absolute;
  font-display: center;
  font-size: 3em;
      color: #18b0b0;
}

@media (max-width: 425px){
  .build-h2{
    font-size: 2.5rem;
    display: inline;
  }
}
@media (max-height: 592px){
  .build-h2{
    padding-top: 80px; 
  }
}

.build-para {
  font-size: 1.2em;
  display: inline-block;
  padding-top: 12em;
}

@media (max-width: 447px){
  .build-para{
    font-size: 1.2em;
    padding-top: 160px;
  }
}

.can-do-pic {
  height: 40em;
  margin-bottom: -4em;
}  

@media (max-width: 641px){
  .can-do-pic{
    margin: 2.5%;  
  }
}

.dev-para{
  height: 40em;
}

.dev-pic {
  width: 30%;
  float: right;
  margin: 6em 40px 50px 30px;
  position: relative;
}

@media (max-width: 425px){
    .dev-pic{
      position: absolute;
      width: 55%;
      height: 20%;
      margin: 12em .1em auto 5em;
      padding-right: 2em;
    }
}


/* @media (max-width: 425px){
  .dev-para{
    margin-top: 1em;
    height:25%;

  }
} */

.header-dev {
  font-size: 3em;
  display: inline-block;
  margin: 0 ;
  text-align: center;
  position: absolute;
  color: #18b0b0;
}

@media (max-width: 425px){
  .header-dev{
    position: relative;
    font-size: 2.3em;    
  }
}
@media (max-width: 763px){
  .header-dev{
    position: relative;
    float: left;
  }
}

.dev-discription {
  text-align: center;
  margin: 8em 2em 0 0;
  font-size: 1.2em;
  display: inline-block;
}

@media (max-width: 425px){
    .dev-discription{
     font-size: 1.1em;
     margin-top: 2.5em;
     margin-right: auto;
     width: 25em;
     padding-right: 2.5em; 
    }
}
@media (max-width: 763px){
  .dev-discription{
    margin:  2em auto auto;
    float: left;
  }
}

.container_4 {
  margin-bottom: -14px;
  height: 40%;
  background-color: #ffffff;
  text-align: center;
  padding: 20px 0 10px;
}

.con4-header {
display: inline-block;
    color: #18b0b0;
}
@media(max-width: 768px){
  .con4-header{
    margin: auto auto auto 5%
  }
}

.con4-para {
  text-align: center;
  font-size: 1.2em;
}

.con4-title {
  margin: 1em 0 1em 0;
  font-size: 2em; 
      color: #18b0b0;

}

.btn-wp1{
  width: 30em;
  margin-top: 4%;
  margin-bottom: 2em;
  margin-left: 4%;

}


/* *********************************************** */


.w-container-1{
  height: 15em;
  text-align: center;
  background: #ccf0e1;
}

.work-title{
  display: inline-block;
  margin-top: .5em;
  font-family: 'Sacramento', cursive;
  font-size: 6rem;
  color: #18b0b0;
}

.flag{
  width: 10%;
  height: 10em;
  float: left;
  position: bottom;
  margin-top: 4.5em;
}
@media (max-width: 425px){
  .flag{
    width: 3em;
    height: 5.5em;
    margin-top: 9.5em;
  }
}
.flag2{
  width: 10%;
  height: 10em;
  display: inline-block;
  float: right;
  margin-top: 4.5em;
  /* position: absolute; */

}
 @media (max-width: 425px){
  .flag2{
    width: 3em;
    height: 5.5em;
    margin-top: 9.5em;
  }
} 

.w-container-2{
  height: 32em;
}

.pencil{
  width: 20%;
  height: 15em;
  border-radius: 50%;
  display: inline-block;
  margin: 5% 0 0 40%;
}
@media (max-width: 425px){
  .pencil{
    width: 8em;
    height: 10em;
    margin-left: 9.5em;
  }
}

.w-header{
  text-align: center;
  margin: 1.4em auto .5em auto;
  font-family: 'Dosis', sans-serif;
  font-size: 3em;
  color: #18b0b0;
}

.w-workToShow{
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 1.6em;
}

.w-container-3{
  height: 60em;
  background-color: #f5fcc1;
  margin-bottom: -25px;
}
@media (max-width: 425px){
  .w-container-3{
    height: 800px;
  }
}

.w-project{
  width: 65%;
  height: 65%;
  margin: 3% auto auto 18%;
  border-radius: 6%;
  display: inline-block;
}
@media(max-width: 425px){
  .w-project{
    margin-left: 2em;
    margin-right: 2em;
    width: 22.7em;
    height: 27em;
  }
}

.wc3-h1{
  font-family: 'Dosis', sans-serif;
  text-align: center;
  margin: 1em auto auto auto;
}

.wc3-p1{
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-size: 1.3em;
}


.wcp-discription{
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 1.2em;
}
@media(max-width: 425px){
  .wcp-discription{
    font-size: 1.1em;
    width: 23em;
    height: 5em;
    padding-left: .1em;
    margin-left: .4em;
  }
}

.pw-button{
  display: block;
  margin: auto auto auto 40%;
}
@media(max-width: 425px){
  .pw-button{
    margin-left: 8em;
  }
}